.button{
    -fx-border-style: solid;
    -fx-background-color: linen;
}
.text-area{
    -fx-background-color: whitesmoke;
    -fx-border-style: inherit;
}
.text-field{
    -fx-border-style: inherit;
}